<manifest package="com.miplata" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.CreateAccountActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.AddMovementActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.SelectInterestsActivity"
            android:exported="false"/>

        <!-- Actividad Nueva para el Saldo Inicial -->
        <activity
            android:name=".ui.SetIncomeActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.AddGoalActivity"
            android:exported="false"/>

        <activity
            android:name=".ui.ManageCategoriesActivity"
            android:exported="false"/>

        <service
            android:name=".listener.FinanceNotificationService"
            android:label="MiPlata Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
